.profile-box{
    background: white;
    border-radius: 8px;
    padding:3px;
    margin-top: 5px;;
    .profile-logo{
        background-color: rgb(236, 137, 112);
        border-radius: 8px;
        margin-top: 4px;
        padding:3px;
    }
}