.service-box{
    background: white;
    border-radius: 8px;
    h1{
        font-size: 24px !important;
    }
    .text{
    p{
        width: 300px;}
   
            }
    .right-arrow{
        font-size: 25px;
   
    }
        }